<%- include('partials/header.ejs'); %>


<div class="mainContainer">
	<div class="container">
		<h1>INTERNSHIP SIGNUP FORM</h1>
		<hr><div class="clr"></div>
		<p class="hide">Prepare for your career with a Project Management, Web-Development, Graphic Design or Digital Marketing Internship at Northern.</p>
		<div class="row hide">
				<div class="col-md">
					<p id="errMsg">Please enter a valid email address.</p>
					<input type="email"
						class="form-input"
						oninvalid="showErr()"
						id="emailInput"
						name="email"
						placeholder="<%= email %>">
				</div>
				<div class="col-md">
					<select name="interests" class="form-input" required>
						<option value=""disabled selected>Your Interests</option>
						<option value="1">First</option>
						<option value="2">Second</option>
					</select>
				</div>
			</div>
			<div class="row hide">
				<button>Sign Up Now <span>&#10148;</span></button>
			</div>
			<div id="successContainer" class="hidden">
				<h2>Thanks for your interest!</h2>
				<p>We will review your application and contact you for <span>addition</span> additional information should your background and experience meet the requirements of one of our openings.</p>
			</div>
		</div>
	</div>
</div>

<script>
	$('button').text('Submitting...')
	setTimeout(() => {
		$('.hide').hide();
		$('#successContainer').show();
	}, 2000);
	console.log('<%= formInput %>');
</script>